.container{
	background-color: black;
}

#clock{
	color: yellow;
	text-align: center;
	font-size: 100px;
	font-family: impact;
	margin-top: 100px;
	padding-top: 200px;
	margin: 0 auto;
}
img{
	margin-left: 40%;
}